.header {
    width: 100%;
    height: 577px;
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include tablet {
        height: auto;
        padding-bottom: 4rem;
    }
    @include mobile {
        height: auto;
        padding-bottom: 4rem;
    }
    @include smobile {
        height: auto;
        padding-bottom: 4rem;
    }
    &__wrapper {
        width: 100%;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }
    &__logo {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__box {
        label {
            display: block;
            position: relative;
            z-index: 99999;
            @include pc {
                display: none;
            }
            @include laptop {
                display: none;
            }
            cursor: pointer;
            transition: 0.2s;
            color: $color-white;
            ion-icon {
                font-size: 4rem;
            }
            &:hover {
                transform: translateY(-2px);
            }
        }
        & input:checked ~ .header__background {
            transform: scale(500);
            background-color: $color-main;
        }
        & input:checked ~ .header__layout {
            width: 100%;
            pointer-events: all;
            opacity: 1;
        }
    }
    &__background {
        @include tablet {
            position: fixed;
            top: 0rem;
            right: 0rem;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            transition: 0.6s;
            z-index: 99;
        }
        @include mobile {
            position: fixed;
            top: 0rem;
            right: 0rem;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            transition: 0.6s;
            z-index: 99;
        }
        @include smobile {
            position: fixed;
            top: 0rem;
            right: 0rem;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            transition: 0.6s;
            z-index: 99;
        }
    }
    &__layout {
        @include tablet {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            transition: 0.6s;
            pointer-events: none;
            opacity: 0;
            z-index: 99;
        }
        @include mobile {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            transition: 0.6s;
            pointer-events: none;
            opacity: 0;
            z-index: 99;
        }
        @include smobile {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            transition: 0.6s;
            pointer-events: none;
            opacity: 0;
            z-index: 99;
        }
    }

    &__menu {
        display: flex;
        list-style-type: none;
        @include tablet {
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }
        @include mobile {
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }
        @include smobile {
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 1rem;
            @include tablet {
                text-align: center;
                margin: 0;
                margin-bottom: 1rem;
            }
            @include mobile {
                text-align: center;
                margin: 0;
                margin-bottom: 1rem;
            }
            @include smobile {
                text-align: center;
                margin: 0;
                margin-bottom: 1rem;
            }
        }
        &--link {
            display: inline-block;
            padding: 1rem;
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-white;
            border-radius: 4px;
            transition: 0.2s;
            @include tablet {
                font-size: 3rem;
            }
            @include mobile {
                font-size: 2.4rem;
            }
            @include smobile {
                font-size: 2.4rem;
            }
        }
        &:hover &--link {
            background-color: tomato;
            transform: translateY(-4px);
            box-shadow: 0rem 0.5rem 2rem rgba($color-black, 0.2);
            &:active {
                transform: translateY(0);
                box-shadow: 0rem 0rem 1rem rgba($color-black, 0.2);
            }
        }
    }
    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        @include smobile {
            flex-direction: column;
        }
    }
    &__text {
        width: 50%;
        padding-right: 2rem;
        @include smobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
    &__title {
        font-size: 6rem;
        color: $color-white;
        font-weight: lighter;
        margin-bottom: 2rem;
        line-height: 1.2;
        @include pc {
            font-size: 5rem;
        }
        @include laptop {
            font-size: 4rem;
        }
        @include tablet {
            font-size: 4rem;
        }
        @include mobile {
            font-size: 2.2rem;
        }
        @include smobile {
            text-align: center;
            font-size: 4rem;
            width: 100%;
        }
    }
    &__sub {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 2rem;
        line-height: 1.4;
        @include smobile {
            text-align: center;
            font-size: 1.6rem;
        }
    }
    &__img {
        width: 50%;
        @include smobile {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
